.container {
  display: flex;
  justify-content: space-between;
  margin: 0 3.5rem;
  padding-top: 25px;
  height: 4rem;
}

.logo_container img {
  width: 8.375rem;
}

.buttons {
  display: flex;
  align-items: center;
}

.language {
  background: rgba(0,0,0,.4);
  border: 1px solid #aaa;
  color: white;
  font-size: .875rem;
  padding: 8px;
  padding-left: 1.375rem;
  position: relative;
  border-radius: 4px;
  margin-right: 2rem;
}

.globe {
  position: absolute;
  top: 30%;
  left: .4rem;
}

.language select {
  background: none;
  border: none;
  color: white;
}

.language select:focus-visible {
  outline: none;
}

.language select option {
  background: #aaa;
}

.btn_login button {
  background-color: #e50914;
  padding: 7px 17px;
  font-weight: 400;
  font-size: 1rem;
  color: #fff;
  border-radius: 3px;
  border-style: none;
  cursor: pointer;
}