.container {
  display: flex;
  align-items: center;
  position: absolute;
  left: 30%;
  bottom: 12%;
  background: #000;
  padding: .1em .75em;
  transform: translateX(-50%);
  margin: 0 auto;
  width: 60%;
  min-width: 15em;
  border: 2px solid rgba(255,255,255,.25);
  box-shadow: 0 0 2em 0 #000;
  border-radius: .75em;
}

.image_container {
  margin: 0 1em 0 0;
  flex-grow: 0;
  flex-shrink: 0;
}

.image_container img {
  height: 4.5em;
  max-width: 100%;
  border: 0;
}

.text {
  flex-grow: 1;
  flex-shrink: 1;
  margin: .3em 0;
  text-align: left;
}

.text0 {
  font-size: 1em;
  color: #fff;
  font-weight: 600;
}

.text1 {
  font-size: .9em;
  color: #0071eb;
  font-weight: 400;
}

.loading {
  width: 3em;
}

/* RESPONSIVE */
@media only screen and (max-width: 996px) {
  .container {
    left: 50%;
    bottom: 25%;
    padding: 0;
  }
  .image_container {
    margin: .5em 0 0 -2.3em;
    flex-shrink: unset;
  }
  .image_container img {
    height: auto;
    width: 26%;
    margin: 0;
  }
  .text {
    flex-shrink: 0;
    margin: 0 0 0 -2em;
  }
}